
//------ Colors -----//
$black:  #000000;

//------ Font ------//
$font: 'Arial';

//------ Size Fonts -----//
$sl-font:  10px;
$sl2-font: 12px;
$sl3-font: 14px;
$md-font:  16px;
$bg-font:  20px;
$bg2-font: 30px;
$bg3-font: 40px;


//------ Width ------//
$content : 1200px;


//------ Default Settings ------//
$color: $black;
$font:  $sl3-font;